body {
  background-color: lightblue;
  font-family: "Consolas";
  background-image: url(./images/HexTrimmed.png);
  background-size: 1000px;
  background-position-y: -5px;
  animation: marquee 30s linear 0s infinite;
  overflow: hidden;
}
#main-menu {
  background-color: lightblue;
  margin-top: 35vh;
  width: 120%;
  margin-left: -10%;
  height: 250px;
  border: 1px solid black;
  overflow-y: scroll;
}
.hidden {
  display: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}
#title {
  font-size: 108px;
}
#subtitle {
  animation: slow-blink 4s ease-in-out 0s infinite;
}
#title-wrapper, #player-select, #difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
  padding: 10px 0;
}
button.btn {
  width: 300px;
}
// #game-board {
//   background-color: rgb(78, 78, 78);
// }
#move-history {
  background-color: grey;
}
.tile {
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
}
.tile:hover {
  fill: azure;
}
.red-side {
  stroke: firebrick;
  stroke-width: 3px;
  fill: transparent;
}
.blue-side {
  stroke: royalblue;
  stroke-width: 3px;
  fill: transparent;
}

@keyframes slow-blink {
  0% {opacity: 100%;}
  50% {opacity: 30%;}
  100% {opacity: 100%;}
}
@keyframes marquee {
  0% {background-position-x: 0;}
  100% {background-position-x: 1000px;}  
}